$overall-color: #fff;
$gray-color: #656565;
$gray1-color: #989898;
$gray2-color: #a1a1a1;
$border-color: #efefef;
$bg-color: #f7f7f7;
$bg1-color: #dfdfdf;
$bg2-color: #cfcfcf;
$bg3-color: #f4f4f4;
$blue-color: #7d9dca;
$black-color: #3c3c3c;
$black1-color: #333333;
$black2-color: #5c5c5c;
